<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>


<%= render partial: 'layouts/navbar' %>




<!--                            -->
   



   

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
       
        <h1 class="text-center display-2 ">Track & Field Result Calculator!</h1>
       
        <font size= "6"><p>On this site you can create field event competitons  and upload the results in a fraction of the time it will normally take!!!


        </font></p>
       
        <p><a class="btn btn-primary btn-lg" href="users/sign_up" role="button">Sign Up Now!! &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>View Results</h2>
          <p>Search for Competition results.Or upload results.

           </p>
         
          <p>
            <a buttom class="btn btn-secondary" href="results.html" role="button">Search for Competition &raquo;</a>
          </p>

        </div>
        <div class="col-md-4">
          <h2>Create Competition</h2>
          <p>Here you can create your competition which will include generating a heat sheet and tracking the results. </p>
          <p><a class="btn btn-secondary" href="comp" role="button">Create Competition &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>View Live Competitions</h2>
          <p>Watch as results come in live from a competition.</p>
          <p><a class="btn btn-secondary" href="Live.html" role="button">Live &raquo;</a></p>
        </div>

        <div> 
          <h2>Why should you use this site?</h2>
          <p>In track meets millions of hours are wasted across the world to generate the results of field event competitions. We are going to automate the Track and Field world to make track meets more efficent by cutting the time down to compile the results.
          </p>
          <div class="jumbotron1">
             <h1>Click Here to Sign up now!!</h1>
             <font size="4"><p>
                To have access to all of our websites  features sign up for a one time fee of 4.99$</p>
                </font><p>
                <a class="btn btn-primary btn-lg" href="users/sign_up" role="button">Sign up Now</a></p>
          </div>
        



           </div>

      </div>

      <hr>

      <footer>
        <p>&copy;  Company 2017</p>
      </footer>
    </div> <!-- /container -->  


      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>